@import url("https://fonts.googleapis.com/css?family=Cantarell");

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Cantarell', sans-serif;
	text-align: center;
}

.logo {
	float: left;
	width: 125px;
	height: 125px;
	padding: 10px;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
}

nav {
	float: right;
	margin: 20px 15px 0px 0px;
}

nav a {
	padding: 10px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-list {
	display: none;
	position: absolute;
	background-color: #EEEEEE;
	border: 1px solid black;
}

.dropdown:hover .dropdown-list{
	display: block;
}

.dropdown-list a:hover {
	color: yellow;
}

.container-mission,
.footer,
.banner,
.container-join {
	width: 100%;
	padding: 0px;
	margin: 0px;
	display: inline-block;
}

.banner img{
	height: 400px;
	width: 100%;
	vertical-align: middle;
}

.container-mission {
	background-color: #f7f7f7;
	height: 300px;
}

.container-mission > p {
	margin: 20px 30px 0px 30px;
}

.container-join {
	height: 300px;
}

#first {
	font-size: 3.5em;
}

#second {
	font-size: 1.5em;
	margin: 0px 20px 0px 20px;
}

.footer {
	height: auto;
	background-color: #486A89;
}

.footer p {
	padding: 10px;
	margin: 30px 0px 0px 10px;
	color: #cccecb;
}

.social {
	width: 30px;
	height: 30px;
	padding: 5px;
}

